/MessagingApp/.vs
/MessagingApp/MessagingApp/bin
/MessagingApp/MessagingApp/obj
/MessagingAppUI/.vs
/MessagingAppUI/messagingappui/.vscode
/MessagingAppUI/messagingappui/node_modules
/MessagingAppUI/messagingappui/obj
